<!-- This is your own customizable scripted job creation form. -->
<!-- You can add ids and classes or change copy. -->
<!-- Place it wherever you want. -->
<!-- It will only appear when you call ScriptedJob.setFormat with a valid Scripted format_id. -->
<div id="scr-ko-wrpr">
  <form id="scr-ko-form" data-bind="event: { submit: ScriptedJob.submit }">
    <div data-bind="if:ScriptedJob.format() != undefined">
      <div data-bind="if:ScriptedJob.tooFew()" class='alert'>
        <h2>Warning! <span data-bind="text:ScriptedJob.format().pluralName()"></span> must be ordered in batches of at least <span data-bind="text:ScriptedJob.format().minCount"></span></h2>
      </div>
      <div data-bind="if:ScriptedJob.errors().length > 0" class='alert'>
        <ul data-bind="foreach: ScriptedJob.errors">
          <li>Error: <span data-bind="text:$data"></span></li>
        </ul>
      </div>
      <h1 data-bind="text:ScriptedJob.format().name"></h1>
      <p>Get <input type="text" name="count" data-bind="value: count"> <span data-bind="text:ScriptedJob.format().pluralName()"></span> for $<span data-bind="text:ScriptedJob.price()"></span></p>
      <div data-bind="foreach: ScriptedJob.format().fields()">
        <h4><span data-bind="text:name"></span> <small data-bind="text:description"></small></h4>
        <span data-bind="if:type == 'text_field'">
          <input type="text" data-bind="value: value">
        </span>
        <span data-bind="if:type == 'text_area'">
          <textarea data-bind="value: value"></textarea>
        </span>
        <span data-bind="if:type == 'bullets'">
        	<span data-bind="foreach:bullets">
				    <input type="text" data-bind="value: value">
			    </span>
			    <a href="#" data-bind="click: addBullet">Add Bullet</a>
        </span>
        <span data-bind="if:type == 'checkboxes'">
          <span data-bind="foreach:options">
            <label class="checkbox inline">
              <input type="checkbox" data-bind="checked: checked"> <span data-bind="text:label"></span>
            </label>
          </span>
        </span> 
        <span data-bind="if:type == 'radios'">
          <span data-bind="foreach:options">
            <label class="radio inline">
              <input type="radio" data-bind="checked: checked, attr: { name: parentId }"> <span data-bind="text:label"></span>
            </label>
          </span>
        </span>  
      </div>
      <div data-bind="if:ScriptedJob.industriesAndGuidelines">
        <h3>Industries and Guidelines</h3>
        <p style="color:gray">Hold down Ctrl (Windows) or Command (Mac) to select multiple options.</p>
        <label>Which industries should your writers understand?</label>
        <p><select data-bind="options: ScriptedJob.industries, optionsText: 'name', selectedOptions: selectedIndustries" multiple="true"></select></p>
        <label>What tone should your writers use?</label>
        <p><select data-bind="options: ScriptedJob.guidelines, optionsText: 'name', selectedOptions: selectedGuidelines" multiple="true"></select></p>
      </div>
      <input type="submit" value="Submit">
    </div>
  </form>
</div>